//-File by Nikkki to allow user to choose if they want to view annual revenue or// annual pay.
#choose_apar_root
  .btn-group(data-toggle="buttons-radio" )
   a.btn.ap.active(ng-click="onApClick()") 歲出
   a.btn.ar(ng-click="onArClick()") 歲入
